<a href="https://colab.research.google.com/github/afjalhossain31/Machine-Learning-Lab/blob/main/Data_Preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduce the Data

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('/content/data.csv')

In [6]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       '#NAME?', 'Other'], dtype=object)

In [8]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [9]:
df['income']

0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
        ...
4995    <=50K
4996     >50K
4997     >50K
4998    <=50K
4999    <=50K
Name: income, Length: 5000, dtype: object

In [10]:
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

In [11]:
df['income']

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64

In [12]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,#NAME?,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43,Private,222971,5th-6th,3,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,0
4996,31,Private,259425,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4997,47,Self-emp-inc,212120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4998,#NAME?,Private,245880,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,0
4999,58,Local-gov,54947,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,0

In [14]:
X = df.drop('income', axis='columns')
y = df.income

In [ ]:
X.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [15]:
y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64

## Basic data cleaning

In [16]:
X.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
dtype: int64

In [32]:
X['education']

0          Bachelors
1          Bachelors
2            HS-grad
3               11th
4          Bachelors
            ...
4995         5th-6th
4996         HS-grad
4997         HS-grad
4998         HS-grad
4999    Some-college
Name: education, Length: 5000, dtype: object

In [33]:
pd.get_dummies(X['education']).head()

,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,?,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [34]:
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print(f"Feature '{col_name}' has {unique_cat} unique categories")

Feature 'age' has 69 unique categories
Feature 'workclass' has 8 unique categories
Feature 'fnlwgt' has 4507 unique categories
Feature 'education' has 17 unique categories
Feature 'education_num' has 17 unique categories
Feature 'marital_status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 6 unique categories
Feature 'sex' has 3 unique categories
Feature 'native_country' has 2 unique categories

In [35]:
X['native_country'].value_counts().sort_values(ascending=False)

native_country
United-States     4465
Other              535
Name: count, dtype: int64

In [36]:
X['native_country'] = ['United-States ' if x == 'United-States' else 'Other' for x in X['native_country']]

In [37]:
X['native_country'].value_counts().sort_values(ascending=False)

native_country
Other    5000
Name: count, dtype: int64

In [38]:
todummy_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

In [39]:
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x)
        df = df.drop(x,  axis=1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [40]:
X = dummy_df(X, todummy_list)

In [41]:
X.shape

(5000, 69)

In [42]:
len(X.columns)

69

In [43]:
X.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'workclass_?', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_?',
       'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital_status_Divorced',
       'marital_status_Married-AF-spouse', 'marital_status_Married-civ-spouse',
       'marital_status_Married-spouse-absent', 'marital_status_Never-married',
       'marital_status_Separated', 'marital_status_Widowed', 'occupation_?',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'relationship_Husband', 'relationship_Not-in-family',
       'relationship_Other-relative', 'relationship_Own-child',
       'relationship_Unmarried', 'relationship_Wife', 'race_#NAME?',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_#NAME?', 'sex_Female', 'sex_Male',
       'native_country_Other'],
      dtype='object')

In [44]:
X

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,race_#NAME?,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_#NAME?,sex_Female,sex_Male,native_country_Other
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True
2,38,215646,9,0,0,40,False,False,False,True,...,False,False,False,False,False,True,False,False,True,True
3,53,234721,7,0,0,40,False,False,False,True,...,False,False,False,True,False,False,True,False,False,True
4,28,338409,13,0,0,40,False,False,False,True,...,False,False,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43,222971,3,0,0,40,False,False,False,True,...,False,False,False,False,False,True,False,True,False,True
4996,31,259425,9,0,0,40,False,False,False,True,...,False,False,False,False,False,True,False,False,True,True
4997,47,212120,9,0,0,40,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True
4998,#NAME?,245880,9,0,0,60,False,False,False,True,...,False,False,False,False,False,True,False,False,True,True
4999,58,54947,10,0,0,55,False,False,True,False,...,False,False,False,False,False,True,False,True,False,True

###  Handling missing data

In [45]:
X.isnull().sum().sort_values(ascending=False).head()

age              0
fnlwgt           0
education_num    0
capital_gain     0
capital_loss     0
dtype: int64

In [62]:
from sklearn.impute import SimpleImputer

X = df.select_dtypes(include=[np.number])
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(X)
X = pd.DataFrame(imputer.transform(X), columns=X.columns)

In [60]:
X.isnull().sum().sort_values(ascending=False).head()

capital_gain      0
capital_loss      0
hours_per_week    0
income            0
dtype: int64

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 1.0

## Feature Engineering

In [64]:
from itertools import combinations
print(df.columns)
# print("***")
print(list(df.columns))
# print("***")
print(list(combinations(list(df.columns), 2)))

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')
['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
[('age', 'workclass'), ('age', 'fnlwgt'), ('age', 'education'), ('age', 'education_num'), ('age', 'marital_status'), ('age', 'occupation'), ('age', 'relationship'), ('age', 'race'), ('age', 'sex'), ('age', 'capital_gain'), ('age', 'capital_loss'), ('age', 'hours_per_week'), ('age', 'native_country'), ('age', 'income'), ('workclass', 'fnlwgt'), ('workclass', 'education'), ('workclass', 'education_num'), ('workclass', 'marital_status'), ('workclass', 'occupation'), ('workclass', 'relationship'), ('workclass', 'race'), ('workclass', 'sex'), ('workclass', 'capital_gain'), ('workclass', 'capital_loss'), ('workclass', 'hours_per_week'), ('workclass', 'native_country'), ('workclass', 'income'), ('fnlwgt', 'education'), ('fnlwgt', 'education_num'), ('fnlwgt', 'marital_status'), ('fnlwgt', 'occupation'), ('fnlwgt', 'relationship'), ('fnlwgt', 'race'), ('fnlwgt', 'sex'), ('fnlwgt', 'capital_gain'), ('fnlwgt', 'capital_loss'), ('fnlwgt', 'hours_per_week'), ('fnlwgt', 'native_country'), ('fnlwgt', 'income'), ('education', 'education_num'), ('education', 'marital_status'), ('education', 'occupation'), ('education', 'relationship'), ('education', 'race'), ('education', 'sex'), ('education', 'capital_gain'), ('education', 'capital_loss'), ('education', 'hours_per_week'), ('education', 'native_country'), ('education', 'income'), ('education_num', 'marital_status'), ('education_num', 'occupation'), ('education_num', 'relationship'), ('education_num', 'race'), ('education_num', 'sex'), ('education_num', 'capital_gain'), ('education_num', 'capital_loss'), ('education_num', 'hours_per_week'), ('education_num', 'native_country'), ('education_num', 'income'), ('marital_status', 'occupation'), ('marital_status', 'relationship'), ('marital_status', 'race'), ('marital_status', 'sex'), ('marital_status', 'capital_gain'), ('marital_status', 'capital_loss'), ('marital_status', 'hours_per_week'), ('marital_status', 'native_country'), ('marital_status', 'income'), ('occupation', 'relationship'), ('occupation', 'race'), ('occupation', 'sex'), ('occupation', 'capital_gain'), ('occupation', 'capital_loss'), ('occupation', 'hours_per_week'), ('occupation', 'native_country'), ('occupation', 'income'), ('relationship', 'race'), ('relationship', 'sex'), ('relationship', 'capital_gain'), ('relationship', 'capital_loss'), ('relationship', 'hours_per_week'), ('relationship', 'native_country'), ('relationship', 'income'), ('race', 'sex'), ('race', 'capital_gain'), ('race', 'capital_loss'), ('race', 'hours_per_week'), ('race', 'native_country'), ('race', 'income'), ('sex', 'capital_gain'), ('sex', 'capital_loss'), ('sex', 'hours_per_week'), ('sex', 'native_country'), ('sex', 'income'), ('capital_gain', 'capital_loss'), ('capital_gain', 'hours_per_week'), ('capital_gain', 'native_country'), ('capital_gain', 'income'), ('capital_loss', 'hours_per_week'), ('capital_loss', 'native_country'), ('capital_loss', 'income'), ('hours_per_week', 'native_country'), ('hours_per_week', 'income'), ('native_country', 'income')]

In [65]:
# Use PolynomialFeatures in sklearn.preprocessing to create two-way interactions for all features
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

def add_interactions(df):
    # Get feature names
    combos = list(combinations(list(df.columns), 2))
    colnames = list(df.columns) + ['_'.join(x) for x in combos]

    # Find interactions
    poly = PolynomialFeatures(interaction_only=True, include_bias=False)
    df = poly.fit_transform(df)
    df = pd.DataFrame(df)
    df.columns = colnames

    # Remove interaction terms with all 0 values
    noint_indicies = [i for i, x in enumerate(list((df == 0).all())) if x]
    df = df.drop(df.columns[noint_indicies], axis=1)

    return df

In [66]:
print(X.shape)

(5000, 4)

In [71]:
New = add_interactions(X)
print(New)

      capital_gain  capital_loss  hours_per_week  income  \
0           2174.0           0.0            40.0     0.0
1              0.0           0.0            13.0     0.0
2              0.0           0.0            40.0     0.0
3              0.0           0.0            40.0     0.0
4              0.0           0.0            40.0     0.0
...            ...           ...             ...     ...
4995           0.0           0.0            40.0     0.0
4996           0.0           0.0            40.0     1.0
4997           0.0           0.0            40.0     1.0
4998           0.0           0.0            60.0     0.0
4999           0.0           0.0            55.0     0.0

      capital_gain_hours_per_week  capital_gain_income  \
0                         86960.0                  0.0
1                             0.0                  0.0
2                             0.0                  0.0
3                             0.0                  0.0
4                             0.0                  0.0
...                           ...                  ...
4995                          0.0                  0.0
4996                          0.0                  0.0
4997                          0.0                  0.0
4998                          0.0                  0.0
4999                          0.0                  0.0

      capital_loss_hours_per_week  capital_loss_income  hours_per_week_income
0                             0.0                  0.0                    0.0
1                             0.0                  0.0                    0.0
2                             0.0                  0.0                    0.0
3                             0.0                  0.0                    0.0
4                             0.0                  0.0                    0.0
...                           ...                  ...                    ...
4995                          0.0                  0.0                    0.0
4996                          0.0                  0.0                   40.0
4997                          0.0                  0.0                   40.0
4998                          0.0                  0.0                    0.0
4999                          0.0                  0.0                    0.0

[5000 rows x 9 columns]

In [72]:
print(df.shape)
print(X.shape)
print(New.shape)

(5000, 15)
(5000, 4)
(5000, 9)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(New, y, test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 1.0

In [84]:
from sklearn.decomposition import PCA

pca = PCA(n_components=4)
X_pca = pca.fit_transform(New)
X_pca

array([[ 1.14054068e+03, -9.14690631e+01, -4.40510945e-01,
        -2.40009911e-01],
       [-1.03345848e+03, -9.57829257e+01, -2.71608547e+01,
        -6.93106450e-03],
       [-1.03345515e+03, -9.57176634e+01, -1.61716451e-01,
        -2.12506935e-01],
       ...,
       [-1.03345513e+03, -9.57174885e+01, -1.54102932e-01,
         7.87464066e-01],
       [-1.03345268e+03, -9.56693209e+01,  1.98376452e+01,
        -3.64785358e-01],
       [-1.03345330e+03, -9.56814065e+01,  1.48378048e+01,
        -3.26715752e-01]])

In [85]:
X_pca.shape

(5000, 4)

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy after PCA and Logistic Regression: {accuracy}")

Accuracy after PCA and Logistic Regression: 1.0